---
- name: Gather package facts
  ansible.builtin.package_facts:
    manager: apt
  when: ansible_facts['os_family'] == "Debian"

- name: Add Nodesource Repository
  become: true
  ansible.builtin.deb822_repository:
    name: nodesource
    types: [deb]
    uris: https://deb.nodesource.com/node_{{ version_nodejs }}.x
    suites: [nodistro]
    components: [main]
    signed_by: https://deb.nodesource.com/gpgkey/nodesource-repo.gpg.key
    state: present
    enabled: true

- name: Install NodeJs
  become: true
  ansible.builtin.apt:
    name:
      - nodejs
    state: present
    update_cache: true
  when: '"nodejs" not in ansible_facts.packages'
