[Unit]
Description=NAS

[Mount]
What={{ media_location }}
Where={{ media_mount }}
Type=cifs
Options=credentials=/home/{{ ansible_user }}/nas-credentials,dir_mode=0775,file_mode=0775,forcegid,forceuid,gid=1001,uid=1001,vers=3.0

[Install]
WantedBy=multi-user.target
