#!/bin/sh

# Check if already mounted.
if mount | grep {{ media_location }} > /dev/null; then
  exit 0
fi

sudo wakeonlan {{ media_wol_address }}
sudo mkdir --parents {{ media_mount }}

WAIT_ITERATIONS=0
echo "Waiting for {{ media_ip_address }} to come online..."
while ! ping -c 1 -W 1 "{{ media_ip_address }}" >/dev/null 2>&1; do
  sleep 10
  echo "Waiting for host... ${WAIT_ITERATIONS++}"
done

while ! sudo mount -t cifs -o credentials=/home/{{ ansible_user }}/nas-credentials,dir_mode=0775,file_mode=0775,forcegid,forceuid,gid=1001,uid=1001,vers=3.0 {{ media_location }} {{ media_mount }} >/dev/null 2>&1; do
  sleep 10
  echo "Waiting for mount... ${WAIT_ITERATIONS++}"
done
