---
- name: Gather package facts
  ansible.builtin.package_facts:
    manager: apt
  when: ansible_facts['os_family'] == "Debian"

- name: Install certbot
  become: true
  ansible.builtin.apt:
    name:
      - certbot
    state: present
    update_cache: true
  when: '"certbot" not in ansible_facts.packages'

- name: Provision certificate
  become: true
  ansible.builtin.command:
    cmd: >
      certbot certonly --standalone --agree-tos
      --cert-name '{{ ansible_host }}' -d '{{ ansible_host }}' -m '{{ letsencrypt_email_address }}'
  args:
    creates: "/etc/letsencrypt/live/{{ ansible_host }}/privkey.pem"
