[Unit]
Description=Nextcloud
Documentation=https://github.com/nextcloud/all-in-one
After=docker.service
Requires=docker.service systemd-networkd-wait-online.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker exec %n stop
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull nextcloud/all-in-one:{{ nextcloud_version }}
ExecStart=/usr/bin/docker run --rm --name nextcloud-aio-mastercontainer \
    --publish "8080:8080" \
    --volume nextcloud_aio_mastercontainer:/mnt/docker-aio-config \
    --volume /var/run/docker.sock:/var/run/docker.sock:ro \
    -e NEXTCLOUD_DATADIR="{{ nextcloud_datadir }}" \
    -e SKIP_DOMAIN_VALIDATION=true \
    nextcloud/all-in-one:{{ nextcloud_version }}

[Install]
WantedBy=default.target
