<?xml version="1.0" encoding="utf-8"?>
<Preferences 
	LogVerbose="0"
	logDebug="0"
	sendCrashReports="0"
	IPNetworkType="v4only"
	_1002686110282c1e00000500.0-TranscodeCountLimit="0"
	OldestPreviousVersion="1.43.2.10687-563d026ea"
	MachineIdentifier="557badf0-dbd9-4d9d-9fa0-4c008de252fd"
	ProcessedMachineIdentifier="aa9fedd3ee523b094df642946ca8f6860d8dc27b"
	AnonymousMachineIdentifier="3a73a873-f95a-48cf-a4eb-60ad1d79d10e"
	MetricsEpoch="1"
	AcceptedEULA="1"
	GlobalMusicVideoPathMigrated="1"
	PublishServerOnPlexOnlineKey="0"/>
