{{ ansible_managed|comment }}

127.0.0.1 localhost
{{ ansible_default_ipv4.address }} {{ inventory_hostname }}

# The following lines are desirable for IPv6 capable hosts
::1     localhost ip6-localhost ip6-loopback
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters

192.168.178.1   gateway.labnet fritz.box
192.168.178.2   container.labnet web.container.labnet
192.168.178.3   nasbox.labnet
192.168.178.4   fireeye.labnet web.fireeye.labnet
192.168.178.5   catalyst.labnet
192.168.178.9   canyon.labnet web.canyon.labnet
192.168.178.10  workstation.labnet
