{{ ansible_managed|comment }}

[Unit]
Description=Lidarr Root Service
Documentation=
Wants=network-online.target
After=network-online.target
RequiresMountsFor={{ podman_lidarr_basedir }} {{ podman_lidarr_mediadir }}
Requires=lidarr-main.service postgres.service
Requires=service.{{ inventory_hostname }}-network.service
Before=lidarr-main.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
ExecStartPre=/bin/rm --force %t/lidarr.pid %t/lidarr.pod-id
ExecStartPre=/usr/bin/podman pod create \
  --hostname "%n.{{ inventory_hostname }}" \
  --infra-conmon-pidfile %t/lidarr.pid \
  --label "traefik.enable=true" \
  --label "traefik.http.routers.lidarr.entrypoints=websecure" \
  --label "traefik.http.routers.lidarr.rule=Host(`%N.web.{{ inventory_hostname }}`)" \
  --label "traefik.http.routers.lidarr.tls.certresolver={{ realm }}" \
  --label "traefik.http.routers.lidarr.tls.domains[0].main=%N.web.{{ inventory_hostname }}" \
  --label "traefik.http.services.lidarr.loadbalancer.healthcheck.path=/ping" \
  --label "traefik.http.services.lidarr.loadbalancer.server.port=8686" \
  --name "%n.{{ inventory_hostname }}" \
  --network "service.{{ inventory_hostname }}" \
  --pod-id-file %t/lidarr.pod-id \
  --replace \
  --volume "/etc/ssl/certs/ca-certificates.crt:/etc/ssl/certs/ca-certificates.crt:ro" \
  --volume "{{ podman_lidarr_basedir }}/config:/var/lib/lidarr:rw" \
  --volume "{{ podman_lidarr_mediadir }}:/data:rw"

ExecStart=/usr/bin/podman pod start --pod-id-file %t/lidarr.pod-id
ExecStop=/usr/bin/podman pod stop --ignore --pod-id-file %t/lidarr.pod-id --time 10
ExecStopPost=/usr/bin/podman pod rm --ignore --force --pod-id-file %t/lidarr.pod-id
PIDFile=%t/lidarr.pid
Type=forking

[Install]
WantedBy=multi-user.target
