[Unit]
Description=Jellyfin
Documentation=https://jellyfin.org/docs/
Wants=network-online.target
After=network-online.target nas-mount.service
StartLimitIntervalSec=10

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
StartLimitBurst=3
TimeoutStopSec=70
ExecStartPre=/bin/rm --force %t/container-jellyfin.pid %t/container-jellyfin.ctr-id
ExecStartPre=-/usr/bin/podman pull docker.io/jellyfin/jellyfin:{{ jellyfin_version }}
ExecStart=/usr/bin/podman run \
  --cgroups no-conmon \
  --cidfile %t/container-jellyfin.ctr-id \
  --conmon-pidfile %t/container-jellyfin.pid \
  --detach \
  --device /dev/dri:/dev/dri \
  --hostname %n \
  --label "traefik.enable=false" \
  --label "traefik.http.routers.jellyfin.rule=Host(`%n.{{ inventory_hostname }}.{{ realm }}`)" \
  --label "traefik.http.services.jellyfin.loadbalancer.server.port=8096" \
  --log-driver journald \
  --mount "type=bind,source=/etc/ssl/certs/ca-certificates.crt,target=/etc/ssl/certs/ca-certificates.crt,ro=true" \
  --mount "type=bind,source={{ jellyfin_mediadir }},target=/media" \
  --mount "type=bind,source={{ jellyfin_basedir }}/cache,target=/cache" \
  --mount "type=bind,source={{ jellyfin_basedir }}/config,target=/config" \
  --name %n \
  --network host \
  --pull never \
  --replace \
  --rm \
  jellyfin/jellyfin:{{ jellyfin_version }}

ExecStop=/usr/bin/podman stop --ignore --cidfile %t/container-jellyfin.ctr-id --time 10
ExecStopPost=/usr/bin/podman rm --ignore --force --cidfile %t/container-jellyfin.ctr-id
PIDFile=%t/container-jellyfin.pid
Type=forking

[Install]
WantedBy=multi-user.target default.target
