[Unit]
Description=Pi-hole
Documentation=https://pi-hole.net/
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker exec %n stop
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull pihole/pihole:{{ pihole_version }}
ExecStart=/usr/bin/docker run --rm --name %n \
    --dns=127.0.0.1 --dns=1.1.1.1 \
    --hostname pi.hole \
    -e VIRTUAL_HOST="pi.hole" \
    -e PROXY_LOCATION="pi.hole" \
    -v ./etc-pihole:/etc/pihole \
    -v ./etc-dnsmasq.d:/etc/dnsmasq.d \
    -e "TZ=Europe/Berlin" \
    -e "WEBPASSWORD={{ pihole_webpassword }}" \
    -p "53:53/tcp" \
    -p "53:53/udp" \
    -p "80:80/tcp" \
    pihole/pihole:{{ pihole_version }}

[Install]
WantedBy=default.target
