---
- name: Gather package facts
  ansible.builtin.package_facts:
    manager: apt
  when: ansible_facts['os_family'] == "Debian"
  
- name: Add Hashicorp Repository
  become: true
  ansible.builtin.deb822_repository:
    name: hashicorp
    types: [deb]
    uris: https://apt.releases.hashicorp.com
    suites: [bookworm]
    components: [main]
    signed_by: https://apt.releases.hashicorp.com/gpg
    state: present
    enabled: true

- name: Install Terraform
  become: true
  ansible.builtin.apt:
    name:
      - terraform
    state: present
    update_cache: true
  when: '"terraform" not in ansible_facts.packages'
