{{ ansible_managed|comment }}

[Unit]
Description=NZBget
Documentation=https://nzbget.com/
Wants=network-online.target
After=network-online.target
RequiresMountsFor=%t/containers
BindsTo=nzbget.service
After=nzbget.service
StartLimitIntervalSec=10

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
RestartSec=10
StartLimitBurst=3
ExecStartPre=/bin/rm --force %t/%n.ctr-id
ExecStartPre=-/usr/bin/podman pull {{ registry_ghcrio }}/nzbgetcom/nzbget:{{ podman_nzbget_version }}
ExecStart=/usr/bin/podman run \
  --cgroups "no-conmon" \
  --cidfile "%t/%n.ctr-id" \
  --detach \
# Replace retarded groupmod bullshit default entrypoint.
  --entrypoint='["/app/nzbget/nzbget", "-s", "-c", "/config/nzbget.conf", "-o", "OutputMode=log", "-o", "ControlUsername=nzbget", "-o", "ControlPassword=nzbget"]' \
# Useless garbage
#  --env "PUID={{ _podman_nzbget_user.uid }}" \
#  --env "PGID={{ _podman_nzbget_groups.results[0].gid }}" \
  --env "TZ={{ config_system_timezone }}" \
  --log-driver "journald" \
  --memory "4g" \
  --name "%n.{{ inventory_hostname }}" \
  --pod-id-file "%t/nzbget.pod-id" \
  --pull "never" \
  --replace \
  --rm \
  --sdnotify "conmon" \
  --user "{{ _podman_nzbget_user.uid }}:{{ _podman_nzbget_groups.results[0].gid }}" \
  {{ registry_ghcrio }}/nzbgetcom/nzbget:{{ podman_nzbget_version }}

ExecStop=/usr/bin/podman stop --ignore --cidfile "%t/%n.ctr-id" --time 10
ExecStopPost=/usr/bin/podman rm --ignore --force --cidfile "%t/%n.ctr-id"
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target
