[Match]
Name=enp0s25

[Network]
Address=192.168.178.2/24
Description=LabNet
DNS=192.168.178.2
DNSDefaultRoute=yes
Domains=~.
Gateway=192.168.178.1

[Route]
Destination=0.0.0.0/0
Gateway=192.168.178.1
GatewayOnLink=yes
Metric=100
