{% for node in podman_pihole_dns_delegation %}
address=/web.{{ node }}.{{ podman_pihole_realm }}/{{ podman_pihole_dns_delegation[ node ].service.ns }}
{% for zone in podman_pihole_dns_delegation[ node ] %}
server=/{{ zone }}.{{ node }}.{{ podman_pihole_realm }}/{{ podman_pihole_dns_delegation[ node ][ zone ].ns }}
{% endfor %}
{% endfor %}
