{{ ansible_managed|comment }}

[Unit]
Description=Pi-hole
Documentation=https://pi-hole.net/
Wants=network.target
After=network.target
RequiresMountsFor={{ podman_pihole_basedir }}
Requires=service.{{ inventory_hostname }}-network.service
StartLimitIntervalSec=10

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
RestartSec=10
StartLimitBurst=3
# docker.io rate-limit delays can abort startup if timeout is too short.
TimeoutStartSec=300
TimeoutStopSec=70
ExecStartPre=/bin/rm --force %t/%n.pid %t/%n.ctr-id
ExecStartPre=-/usr/bin/podman pull {{ podman_pihole_registry }}/pihole/pihole:{{ podman_pihole_version }}
ExecStart=/usr/bin/podman run \
  --cgroups "no-conmon" \
  --cidfile "%t/%n.ctr-id" \
  --conmon-pidfile "%t/%n.pid" \
  --detach \
  # Don't mess with the DNS of this container.
  --dns "none" \
  --env "DNSMASQ_USER=root" \
  --env "TZ={{ podman_pihole_timezone }}" \
  --hostname "%n.{{ inventory_hostname }}" \
  --label "traefik.enable=true" \
  --label "traefik.http.routers.pihole.entrypoints=websecure" \
  --label "traefik.http.routers.pihole.rule=Host(`%N.web.{{ inventory_hostname }}`)" \
  --label "traefik.http.routers.pihole.tls.certresolver={{ podman_pihole_realm }}" \
  --label "traefik.http.routers.pihole.tls.domains[0].main=%N.web.{{ inventory_hostname }}" \
  #--label "traefik.http.services.pihole.loadbalancer.healthcheck.path=/admin/login" \
  --label "traefik.http.services.pihole.loadbalancer.server.port=80" \
  --log-driver "journald" \
  --memory "4096m" \
  --name "%n.{{ inventory_hostname }}" \
  --network "service.{{ inventory_hostname }}" \
  --publish "{{ ansible_facts["default_ipv4"].address }}:53:53/tcp" \
  --publish "{{ ansible_facts["default_ipv4"].address }}:53:53/udp" \
  --pull "never" \
  --replace \
  --rm \
  --secret "podman_pihole_webpassword,type=env,target=WEBPASSWORD" \
  --shm-size "256m" \
  # image does not support rootless. It tries to wildly chown/chmod on the filesystem.
  #--user "root:root" \
  --volume "/etc/ssl/certs/ca-certificates.crt:/etc/ssl/certs/ca-certificates.crt:ro" \
  --volume "{{ podman_pihole_basedir }}/etc/pihole:/etc/pihole:rw" \
  --volume "{{ podman_pihole_basedir }}/etc/dnsmasq.d:/etc/dnsmasq.d:rw" \
  pihole/pihole:{{ podman_pihole_version }}

ExecStop=/usr/bin/podman stop --ignore --cidfile "%t/%n.ctr-id" --time 10
ExecStopPost=/usr/bin/podman rm --ignore --force --cidfile "%t/%n.ctr-id"
PIDFile=%t/%n.pid
Type=forking

[Install]
WantedBy=multi-user.target
