[Unit]
Description=Synapse Root Service
Documentation=
Wants=network-online.target
After=network-online.target
Requires=synapse-main.service
Wants=synapse-element.service mautrix-discord.service mautrix-whatsapp.service
Before=synapse-main.service synapse-element.service mautrix-discord.service mautrix-whatsapp.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
ExecStartPre=/bin/rm --force %t/synapse.pid %t/synapse.pod-id
ExecStartPre=/usr/bin/podman pod create \
  --hostname "%n.{{ inventory_hostname }}.{{ realm }}" \
  --infra-conmon-pidfile %t/synapse.pid \
  --label "traefik.enable=true" \
  --label "traefik.http.routers.element.entrypoints=websecure" \
  --label "traefik.http.routers.element.rule=Host(`matrix.web.{{ inventory_hostname }}.{{ realm }}`)" \
  --label "traefik.http.routers.element.service=element" \
  --label "traefik.http.routers.element.tls.certresolver={{ realm }}" \
  --label "traefik.http.routers.element.tls.domains[0].main=matrix.web.{{ inventory_hostname }}.{{ realm }}" \
  --label "traefik.http.services.element.loadbalancer.server.port=80" \
  --label "traefik.http.routers.synapse.entrypoints=websecure" \
  --label "traefik.http.routers.synapse.rule=Host(`synapse.web.{{ inventory_hostname }}.{{ realm }}`)" \
  --label "traefik.http.routers.synapse.service=synapse" \
  --label "traefik.http.routers.synapse.tls.certresolver={{ realm }}" \
  --label "traefik.http.routers.synapse.tls.domains[0].main=synapse.web.{{ inventory_hostname }}.{{ realm }}" \
  --label "traefik.http.services.synapse.loadbalancer.server.port=8008" \
  --name "%n.{{ inventory_hostname }}.{{ realm }}" \
  --network "service" \
  --pod-id-file %t/synapse.pod-id \
  --replace \
  --volume "/etc/ssl/certs/ca-certificates.crt:/etc/ssl/certs/ca-certificates.crt:ro" \
  --volume "{{ synapse_basedir }}/data:/data:rw"
  --volume "{{ synapse_basedir }}/element/config.json:/app/config.json:ro"

ExecStart=/usr/bin/podman pod start --pod-id-file %t/synapse.pod-id
ExecStop=/usr/bin/podman pod stop --ignore --pod-id-file %t/synapse.pod-id --time 10
ExecStopPost=/usr/bin/podman pod rm --ignore --force --pod-id-file %t/synapse.pod-id
PIDFile=%t/synapse.pid
Type=forking

[Install]
WantedBy=multi-user.target
