[Unit]
Description=Synapse
Documentation=https://matrix-org.github.io/synapse
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=10

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
RestartSec=10
StartLimitBurst=3
ExecStartPre=/bin/rm --force %t/%n.pid %t/%n.ctr-id
ExecStartPre=-/usr/bin/podman pull ghcr.io/matrix-org/synapse:{{ synapse_version }}
ExecStart=/usr/bin/podman run \
  --cgroups "no-conmon" \
  --cidfile "%t/%n.ctr-id" \
  --conmon-pidfile "%t/%n.pid" \
  --detach \
  --env "SYNAPSE_CONFIG_PATH=/data/homeserver.yaml" \
  --env "TZ={{ config_system_timezone }}" \
  --hostname "%n.{{ inventory_hostname }}.{{ realm }}" \
  --label "traefik.enable=true" \
  --label "traefik.http.routers.synapse.entrypoints=websecure" \
  --label "traefik.http.routers.synapse.rule=Host(`matrix.web.{{ inventory_hostname }}.{{ realm }}`)" \
  --label "traefik.http.routers.synapse.tls.certresolver={{ realm }}" \
  --label "traefik.http.routers.synapse.tls.domains[0].main=matrix.web.{{ inventory_hostname }}.{{ realm }}" \
  --label "traefik.http.services.synapse.loadbalancer.server.port=8008" \
  --log-driver journald \
  --name "%n.{{ inventory_hostname }}.{{ realm }}" \
  --network "service" \
  --pull "never" \
  --replace \
  --rm \
  --user "{{ _user.uid }}:{{ _groups.results[0].gid }}" \
  --volume "/etc/ssl/certs/ca-certificates.crt:/etc/ssl/certs/ca-certificates.crt:ro" \
  --volume "{{ synapse_basedir }}/data:/data:rw" \
  matrix-org/synapse:{{ synapse_version }}

ExecStop=/usr/bin/podman stop --ignore --cidfile "%t/%n.ctr-id" --time 10
ExecStopPost=/usr/bin/podman rm --ignore --force --cidfile "%t/%n.ctr-id"
PIDFile=%t/%n.pid
Type=forking

[Install]
WantedBy=multi-user.target default.target
