[Unit]
Description=Synapse
Documentation=https://matrix-org.github.io/synapse
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=10

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
RestartSec=10
StartLimitBurst=3
ExecStartPre=/bin/rm --force %t/container-synapse.pid %t/container-synapse.ctr-id
ExecStartPre=-/usr/bin/podman pull ghcr.io/matrix-org/synapse:{{ synapse_version }}
ExecStart=/usr/bin/podman run \
    --cgroups no-conmon \
    --cidfile %t/container-synapse.ctr-id \
    --conmon-pidfile %t/container-synapse.pid \
    --detach \
    --env "SYNAPSE_CONFIG_PATH=/data/homeserver.yaml" \
    #--env "SYNAPSE_REPORT_STATS=false" \
    #--env "SYNAPSE_SERVER_NAME=%n.{{ inventory_hostname }}.{{ realm }}" \
    --env "TZ={{ config_system_timezone }}" \
    --user "1000:1000" \
    --hostname %n \
    --label "traefik.enable=true" \
    --label "traefik.http.routers.synapse.entrypoints=websecure" \
    --label "traefik.http.routers.synapse.rule=Host(`matrix.{{ inventory_hostname }}.{{ realm }}`)" \
    --label "traefik.http.routers.synapse.tls.certresolver={{ realm }}" \
    --label "traefik.http.routers.synapse.tls.domains[0].main=matrix.{{ inventory_hostname }}.{{ realm }}" \
    --label "traefik.http.services.synapse.loadbalancer.server.port=8008" \
    --log-driver journald \
    --mount "type=bind,source=/etc/ssl/certs/ca-certificates.crt,target=/etc/ssl/certs/ca-certificates.crt,ro=true" \
    --mount "type=bind,source={{ synapse_basedir }}/data,target=/data,rw=true" \
    --name %n \
    --network "service" \
    --pull never \
    --replace \
    --rm \
    matrix-org/synapse:{{ synapse_version }}

ExecStop=/usr/bin/podman stop --ignore --cidfile %t/container-synapse.ctr-id --time 10
ExecStopPost=/usr/bin/podman rm --ignore --force --cidfile %t/container-synapse.ctr-id
PIDFile=%t/container-synapse.pid
Type=forking

[Install]
WantedBy=multi-user.target default.target
