[Unit]
Description=OAuth2 Proxy
Documentation=https://github.com/oauth2-proxy/oauth2-proxy
Wants=network.target
After=network.target
StartLimitIntervalSec=10

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
RestartSec=10
StartLimitBurst=3
ExecStartPre=/bin/rm --force %t/%n.pid %t/%n.ctr-id
ExecStartPre=-/usr/bin/podman pull {{ registry_quayio }}/oauth2-proxy/oauth2-proxy:{{ oauth2proxy_version }}
ExecStart=/usr/bin/podman run \
  --cgroups "no-conmon" \
  --cidfile "%t/%n.ctr-id" \
  --conmon-pidfile "%t/%n.pid" \
  --detach \
  --env "OAUTH2_PROXY_HTTP_ADDRESS=0.0.0.0:4180" \
  --env "OAUTH2_PROXY_COOKIE_DOMAINS=.web.{{ inventory_hostname }},.web.canyon.{{ realm }}" \
  --env "OAUTH2_PROXY_WHITELIST_DOMAINS=.web.{{ inventory_hostname }},.web.canyon.{{ realm }}" \
  --env "OAUTH2_PROXY_PROVIDER=oidc" \
  --env "OAUTH2_PROXY_CLIENT_ID=oauth2-proxy" \
  --env "OAUTH2_PROXY_EMAIL_DOMAINS=*" \
  --env "OAUTH2_PROXY_OIDC_ISSUER_URL=https://keycloak.web.container.{{ realm }}/realms/{{ realm_name | lower }}" \
  --env "OAUTH2_PROXY_COOKIE_CSRF_PER_REQUEST=true" \
  --env "OAUTH2_PROXY_COOKIE_CSRF_EXPIRE=5m" \
  --env "OAUTH2_PROXY_CUSTOM_TEMPLATES_DIR=/templates" \
  --env "OAUTH2_PROXY_REVERSE_PROXY=true" \
  --env "TZ={{ config_system_timezone }}" \
  --hostname "%n.{{ inventory_hostname }}" \
  --label "traefik.enable=true" \
  --label "traefik.http.routers.oauth2proxy.entrypoints=websecure" \
  --label "traefik.http.routers.oauth2proxy.rule=(Host(`%N.web.{{ inventory_hostname }}`) && PathPrefix(`/oauth2/`)) || (PathPrefix(`/oauth2/`))" \
  --label "traefik.http.routers.oauth2proxy.tls.certresolver={{ realm }}" \
  --label "traefik.http.routers.oauth2proxy.tls.domains[0].main=%N.web.{{ inventory_hostname }}" \
  --label "traefik.http.services.oauth2proxy.loadbalancer.server.port=4180" \
  --log-driver "journald" \
  --memory "256m" \
  --name "%n.{{ inventory_hostname }}" \
  --network "service" \
  --pull "never" \
  --replace \
  --rm \
  --secret "oauth2proxy_cookie_secret,type=env,target=OAUTH2_PROXY_COOKIE_SECRET" \
  --secret "oauth2proxy_client_secret,type=env,target=OAUTH2_PROXY_CLIENT_SECRET" \
  --user "{{ _user.uid }}:{{ _groups.results[0].gid }}" \
  --volume "/etc/ssl/certs/ca-certificates.crt:/etc/ssl/certs/ca-certificates.crt:ro" \
  --volume "{{ oauth2proxy_basedir }}/templates:/templates:ro" \
  oauth2-proxy/oauth2-proxy:{{ oauth2proxy_version }}

ExecStop=/usr/bin/podman stop --ignore --cidfile "%t/%n.ctr-id" --time 10
ExecStopPost=/usr/bin/podman rm --ignore --force --cidfile "%t/%n.ctr-id"
PIDFile=%t/%n.pid
Type=forking

[Install]
WantedBy=multi-user.target
