---
- name: Install Kiwix Tools
  become: true
  ansible.builtin.apt:
    name:
      - kiwix-tools
    state: present
    update_cache: true

- name: Create Kiwix Group
  become: true
  register: _bm_kiwix_groups
  ansible.builtin.group:
    name: "{{ item }}"
    state: present
    system: true
  loop: "{{ bm_kiwix_groups }}"

- name: Ensure Ansible User is a Member of Kiwix Group
  become: true
  ansible.builtin.user:
    name: "{{ ansible_user }}"
    groups: "{{ bm_kiwix_groups }}"
    append: true

- name: Create Kiwix User
  become: true
  register: _bm_kiwix_user
  ansible.builtin.user:
    comment: "{{ bm_kiwix_name }}"
    create_home: false
    group: "{{ _bm_kiwix_groups.results[0].gid }}"
    groups: "{{ bm_kiwix_groups }}"
    home: "{{ bm_kiwix_basedir }}"
    name: "{{ bm_kiwix_id }}"
    password: "!"
    shell: "/usr/sbin/nologin"
    system: true

- name: Ensure Kiwix Working Directory Exists
  become: true
  ansible.builtin.file:
    path: "{{ bm_kiwix_basedir }}"
    state: directory
    owner: "{{ _bm_kiwix_user.uid }}"
    group: "{{ _bm_kiwix_groups.results[0].gid }}"
    mode: "u=rwX,g=rX"
    recurse: true

- name: Copy Kiwix Service Unit
  become: true
  ansible.builtin.template:
    src: "{{ item }}.j2"
    dest: "{{ directory_systemd }}/{{ item }}"
    owner: root
    group: root
    mode: "0o644"
  loop:
    - kiwix.service


- name: Gather package facts
  ansible.builtin.package_facts:
    manager: apt
  when: ansible_facts['os_family'] == "Debian"

- name: Copy Kiwix Site
  become: true
  ansible.builtin.template:
    src: kiwix-site.conf.j2
    dest: /etc/apache2/sites-available/100-kiwix.conf
    owner: www-data
    group: www-data
    mode: "0o644"
  when: '"apache2" in ansible_facts.packages'
- name: Enable Kiwix Site
  become: true
  ansible.builtin.command:
    cmd: a2ensite 100-kiwix
  when: '"apache2" in ansible_facts.packages'

- name: Ensure Kiwix Directory Exists Writable
  become: true
  ansible.builtin.file:
    path: "{{ bm_kiwix_basedir }}"
    state: directory
    owner: "{{ ansible_user }}"
    group: kiwix
    mode: "0o775"
    recurse: true

- name: Synchronize Kiwix Content
  ansible.posix.synchronize:
    src: "{{ bm_kiwix_seeddir }}/"
    dest: "{{ bm_kiwix_basedir }}"
    delete: true

- name: Ensure Universe Directory Writable
  become: true
  ansible.builtin.file:
    path: "{{ bm_kiwix_basedir }}"
    state: directory
    owner: "{{ ansible_user }}"
    group: kiwix
    mode: "0o775"
    recurse: true

- name: Update Kiwix Library
  become: true
  ansible.builtin.command:
    chdir: "{{ bm_kiwix_basedir }}"
    cmd: "kiwix-manage {{ bm_kiwix_basedir }}/library.xml add {{ item }}"
  loop: "{{ bm_kiwix_library }}"

- name: Enable and Check Kiwix Service
  become: true
  ansible.builtin.systemd:
    daemon_reload: true
    enabled: true
    name: kiwix
    state: restarted
