[Unit]
Description=Lemmy UI - The default UI for Lemmy
After=network.target
StartLimitIntervalSec=10

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
StartLimitBurst=3
ExecStartPre=/bin/rm -f %t/container-lemmy.pid %t/container-lemmy-ui.ctr-id
ExecStartPre=/bin/sh -c 'cat /root/docker_hub_credentials | /usr/bin/podman login \
    --username {{ docker_hub_username }} \
    --password-stdin \
    docker.io'
# ExecStartPre=/usr/bin/podman pull \
#     docker.io/dessalines/lemmy-ui:{{ version_lemmy }}
ExecStart=/usr/bin/podman run \
    --cgroups no-conmon \
    --cidfile %t/container-lemmy-ui.ctr-id \
    --conmon-pidfile %t/container-lemmy-ui.pid \
    --detach \
    --env "LEMMY_UI_LEMMY_INTERNAL_HOST=lemmy:8536" \
    --env "LEMMY_UI_LEMMY_EXTERNAL_HOST=lemmy.ffm.ninja" \
    --env "LEMMY_UI_HTTPS=true" \
    --hostname lemmy-ui \
    --log-driver journald \
    --name %n \
    --replace \
    --rm \
    docker.io/dessalines/lemmy-ui:{{ version_lemmy }}

ExecStop=/usr/bin/podman stop --ignore --cidfile %t/container-lemmy-ui.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/container-lemmy-ui.ctr-id
PIDFile=%t/container-lemmy-ui.pid
Type=forking

# Hardening
ProtectSystem=yes
PrivateTmp=true
MemoryDenyWriteExecute=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
