{{ ansible_managed|comment }}

<Config>
  <BindAddress>*</BindAddress>
  <Port>7878</Port>
  <SslPort>9898</SslPort>
  <EnableSsl>False</EnableSsl>
  <LaunchBrowser>True</LaunchBrowser>
  <ApiKey>{{ podman_radarr_api_key }}</ApiKey>
  <AuthenticationMethod>Forms</AuthenticationMethod>
  <AuthenticationRequired>DisabledForLocalAddresses</AuthenticationRequired>
  <Branch>master</Branch>
  <LogLevel>info</LogLevel>
  <SslCertPath></SslCertPath>
  <SslCertPassword></SslCertPassword>
  <UrlBase></UrlBase>
  <InstanceName>Radarr</InstanceName>
  <UpdateMechanism>Docker</UpdateMechanism>
  <PostgresUser>{{ podman_radarr_pg_user }}</PostgresUser>
  <PostgresPassword>{{ podman_radarr_pg_password }}</PostgresPassword>
  <PostgresPort>5432</PostgresPort>
  <PostgresHost>postgres.service.{{ inventory_hostname }}</PostgresHost>
  <PostgresMainDb>{{ podman_radarr_pg_db }}-main</PostgresMainDb>
  <PostgresLogDb>{{ podman_radarr_pg_db }}-log</PostgresLogDb>
</Config>
