[Unit]
Description=Matrix Discord Bridge
Documentation=https://github.com/mautrix/discord
Wants=network-online.target
After=network-online.target
BindsTo=synapse.service
After=synapse.service
StartLimitIntervalSec=10

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
RestartSec=10
StartLimitBurst=3
ExecStartPre=/bin/rm --force %t/%n.pid %t/%n.ctr-id
ExecStartPre=-/usr/bin/podman pull dock.mau.dev/mautrix/discord:{{ podman_synapse_mautrix_discord_version }}
ExecStart=/usr/bin/podman run \
  --cgroups "no-conmon" \
  --cidfile "%t/%n.ctr-id" \
  --conmon-pidfile "%t/%n.pid" \
  --detach \
  --env "UID={{ _user.uid }}" \
  --env "GID={{ _groups.results[0].gid }}" \
  --env "TZ={{ config_system_timezone }}" \
  --hostname "%n.{{ inventory_hostname }}" \
  --label "traefik.enable=false" \
  --log-driver "journald" \
  --memory "2g" \
  --name "%n.{{ inventory_hostname }}" \
  --network "service" \
  --pull "never" \
  --replace \
  --rm \
  # Another garbage image with root requirement
  #--user "{{ _user.uid }}:{{ _groups.results[0].gid }}" \
  --volume "/etc/ssl/certs/ca-certificates.crt:/etc/ssl/certs/ca-certificates.crt:ro" \
  --volume "{{ podman_synapse_basedir }}/data/discord:/data:rw" \
  mautrix/discord:{{ podman_synapse_mautrix_discord_version }}

ExecStop=/usr/bin/podman stop --ignore --cidfile "%t/%n.ctr-id" --time 10
ExecStopPost=/usr/bin/podman rm --ignore --force --cidfile "%t/%n.ctr-id"
PIDFile=%t/%n.pid
Type=forking

[Install]
WantedBy=multi-user.target
