[Unit]
Description=USB

[Mount]
What=/dev/disk/by-uuid/62f1f933-1168-40bf-8c79-b992974bbaf4
Where=/mnt/usb
Type=ext4

[Install]
WantedBy=multi-user.target
