---
- name: Gather package facts
  ansible.builtin.package_facts:
    manager: apt
  when: ansible_facts['os_family'] == "Debian"
  
- name: Add Syncthing Repository
  become: true
  ansible.builtin.deb822_repository:
    name: syncthing
    types: [deb]
    uris: https://apt.syncthing.net/
    suites: [syncthing]
    components: [stable]
    signed_by: https://syncthing.net/release-key.gpg
    state: present
    enabled: true

- name: Install Syncthing
  become: true
  ansible.builtin.apt:
    name:
      - syncthing
    state: present
    update_cache: true
  when: '"syncthing" not in ansible_facts.packages'

- name: Get users
  ansible.builtin.getent:
    database: passwd
    key: "{{ ansible_user }}"
- name: Enable user service
  become: true
  become_user: "{{ ansible_user }}"
  become_method: ansible.builtin.su
  ansible.builtin.systemd:
    enabled: true
    state: started
    name: syncthing
    scope: user
  environment:
    XDG_RUNTIME_DIR: "/run/user/{{ getent_passwd[ansible_user][1] }}"
