[Unit]
Description=Pi-hole
Documentation=https://pi-hole.net/
Wants=network.target
After=network-online.target
Requires=systemd-networkd-wait-online.service
StartLimitIntervalSec=10

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
StartLimitBurst=3
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/container-pihole.pid %t/container-pihole.ctr-id
ExecStart=/usr/bin/podman run \
    --cgroups no-conmon \
    --cidfile %t/container-pihole.ctr-id \
    --conmon-pidfile %t/container-pihole.pid \
    --detach \
    --dns=127.0.0.1 \
    --dns=1.1.1.1 \
    --env "FTL_LOCAL_IPV4=192.168.178.51" \
    --env "INTERFACE=eno1" \
    --env "TZ=Europe/Berlin" \
    --env "WEBPASSWORD={{ pihole_webpassword }}" \
    --hostname pihole \
    --log-driver journald \
    --name %n \
    --network host \
    --publish "53:53/tcp" \
    --publish "53:53/udp" \
    --publish "80:80/tcp" \
    --replace \
    --rm \
    --volume "{{ pihole_basedir }}/etc/pihole:/etc/pihole" \
    --volume "{{ pihole_basedir }}/etc/dnsmasq.d:/etc/dnsmasq.d" \
    docker.io/pihole/pihole:{{ pihole_version }}

ExecStop=/usr/bin/podman stop --ignore --cidfile %t/container-pihole.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/container-pihole.ctr-id
PIDFile=%t/container-pihole.pid
Type=forking

[Install]
WantedBy=multi-user.target default.target
