[Unit]
Description=Pi-hole
Documentation=https://pi-hole.net/
Wants=network.target
After=network-online.target
Requires=systemd-networkd-wait-online.service
StartLimitIntervalSec=10

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
StartLimitBurst=3
TimeoutStopSec=70
ExecStartPre=/bin/rm --force %t/container-pihole.pid %t/container-pihole.ctr-id
ExecStartPre=-/usr/bin/podman pull docker.io/pihole/pihole:{{ pihole_version }}
ExecStart=/usr/bin/podman run \
    #--cgroups no-conmon \
    --cidfile %t/container-pihole.ctr-id \
    --conmon-pidfile %t/container-pihole.pid \
    --detach \
    --dns=127.0.0.1 \
    --dns=1.1.1.1 \
    #--env "FTLCONF_LOCAL_IPV4=192.168.178.52" \
    #--env "INTERFACE=eno1" \
    --env "TZ=Europe/Berlin" \
    --env "WEBPASSWORD={{ pihole_webpassword }}" \
    --hostname %n \
    --label "traefik.http.routers.pihole.rule=Host(`%n.canyon.labnet`)" \
    --label "traefik.http.services.pihole.loadbalancer.server.port=80" \
    --log-driver journald \
    --mount "type=bind,source={{ pihole_basedir }}/etc/pihole,target=/etc/pihole" \
    --mount "type=bind,source={{ pihole_basedir }}/etc/dnsmasq.d,target=/etc/dnsmasq.d" \
    --name %n \
    #--network host \
    --publish "192.168.178.52:53:53/tcp" \
    --publish "192.168.178.52:53:53/udp" \
    --publish "8053:80/tcp" \
    --replace \
    --rm \
    pihole

ExecStop=/usr/bin/podman stop --ignore --cidfile %t/container-pihole.ctr-id --time 10
ExecStopPost=/usr/bin/podman rm --ignore --force --cidfile %t/container-pihole.ctr-id
PIDFile=%t/container-pihole.pid
Type=forking

[Install]
WantedBy=multi-user.target default.target
