<network ipv6="no" trustGuestRxFilters="no">
  <name>{{ item.key }}</name>
  <title>{{ item.value.title }}</title>
  <description>{{ item.value.description }}</description>
  <bridge name="{{ item.key }}"/>
  <forward mode="route" dev="{{ item.value.nic }}"/>
  <domain name="network"/>
  <ip address="{{ item.value.network }}" netmask="{{ item.value.network_mask }}">
    <dhcp>
      <range start="{{ item.value.dhcp_start }}" end="{{ item.value.dhcp_end }}"/>
      {% for host in item.value.dhcp_reserve | dict2items %}
      <host mac="{{ host.key }}" name="{{ host.value.name }}" ip="{{ host.value.ip }}"/>
      {% endfor %}
    </dhcp>
  </ip>
</network>