<Config>
  <BindAddress>*</BindAddress>
  <Port>6969</Port>
  <SslPort>9898</SslPort>
  <EnableSsl>False</EnableSsl>
  <LaunchBrowser>True</LaunchBrowser>
  <ApiKey>{{ podman_whisparr_api_key }}</ApiKey>
  <AuthenticationMethod>Forms</AuthenticationMethod>
  <AuthenticationRequired>DisabledForLocalAddresses</AuthenticationRequired>
  <Branch>master</Branch>
  <LogLevel>info</LogLevel>
  <SslCertPath></SslCertPath>
  <SslCertPassword></SslCertPassword>
  <UrlBase></UrlBase>
  <InstanceName>Whisparr - {{ inventory_hostname }}</InstanceName>
  <UpdateMechanism>BuiltIn</UpdateMechanism>
  <PostgresUser>{{ podman_whisparr_pg_user }}</PostgresUser>
  <PostgresPassword>{{ podman_whisparr_pg_password }}</PostgresPassword>
  <PostgresPort>5432</PostgresPort>
  <PostgresHost>postgres.service.{{ inventory_hostname }}</PostgresHost>
  <PostgresMainDb>{{ podman_whisparr_pg_db }}-main</PostgresMainDb>
  <PostgresLogDb>{{ podman_whisparr_pg_db }}-log</PostgresLogDb>
</Config>