[Unit]
Description=Bazarr Root Service
Documentation=
Wants=network-online.target
After=network-online.target
RequiresMountsFor=
Requires=bazarr-main.service
Wants=bazarr-exporter.service
Before=bazarr-main.service bazarr-exporter.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
ExecStartPre=/bin/rm --force %t/bazarr.pid %t/bazarr.pod-id
ExecStartPre=/usr/bin/podman pod create \
  --hostname "%n.{{ inventory_hostname }}.{{ realm }}" \
  --infra-conmon-pidfile %t/bazarr.pid \
  --label "traefik.enable=true" \
  --label "traefik.http.routers.bazarr.entrypoints=websecure" \
  --label "traefik.http.routers.bazarr.middlewares=oauth@file" \
  --label "traefik.http.routers.bazarr.rule=Host(`%N.web.{{ inventory_hostname }}.{{ realm }}`)" \
  --label "traefik.http.routers.bazarr.tls.certresolver={{ realm }}" \
  --label "traefik.http.routers.bazarr.tls.domains[0].main=%N.web.{{ inventory_hostname }}.{{ realm }}" \
  --label "traefik.http.services.bazarr.loadbalancer.server.port=6767" \
  --name "%n.{{ inventory_hostname }}.{{ realm }}" \
  --network "service" \
  --pod-id-file %t/bazarr.pod-id \
  --replace \
  --volume "/etc/ssl/certs/ca-certificates.crt:/etc/ssl/certs/ca-certificates.crt:ro" \
  --volume "{{ bazarr_basedir }}/config:/config:rw" \
  --volume "{{ bazarr_mediadir }}:/data:rw"

ExecStart=/usr/bin/podman pod start --pod-id-file %t/bazarr.pod-id
ExecStop=/usr/bin/podman pod stop --ignore --pod-id-file %t/bazarr.pod-id --time 10
ExecStopPost=/usr/bin/podman pod rm --ignore --force --pod-id-file %t/bazarr.pod-id
PIDFile=%t/bazarr.pid
Type=forking

[Install]
WantedBy=multi-user.target
