{{ ansible_managed|comment }}

[Unit]
Description=Push Gateway for Prometheus 
Documentation=https://github.com/prometheus/pushgateway
Wants=network-online.target
After=network-online.target
RequiresMountsFor={{ podman_prometheus_basedir }}
StartLimitIntervalSec=10

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
RestartSec=10
StartLimitBurst=3
# docker.io rate-limit delays can abort startup if timeout is too short.
TimeoutStartSec=300
TimeoutStopSec=70
ExecStartPre=/bin/rm --force %t/%n.pid %t/%n.ctr-id
ExecStartPre=-/usr/bin/podman pull {{ registry_dockerio }}/prom/pushgateway:{{ podman_prometheus_pushgateway_version }}
ExecStart=/usr/bin/podman run \
  --cgroups "no-conmon" \
  --cidfile "%t/%n.ctr-id" \
  --conmon-pidfile "%t/%n.pid" \
  --detach \
  --hostname "%n.{{ inventory_hostname }}" \
  --label "traefik.enable=false" \
  --log-driver "journald" \
  --memory "512m" \
  --name "%n.{{ inventory_hostname }}" \
  --network "service" \
  --pull "never" \
  --replace \
  --rm \
  --user "{{ _user.uid }}:{{ _groups.results[0].gid }}" \
  --volume "/etc/ssl/certs/ca-certificates.crt:/etc/ssl/certs/ca-certificates.crt:ro" \
  --volume "{{ podman_prometheus_basedir }}/etc:/etc/prometheus:rw" \
  prom/pushgateway:{{ podman_prometheus_pushgateway_version }}

ExecStop=/usr/bin/podman stop --ignore --cidfile "%t/%n.ctr-id" --time 10
ExecStopPost=/usr/bin/podman rm --ignore --force --cidfile "%t/%n.ctr-id"
PIDFile=%t/%n.pid
Type=forking

[Install]
WantedBy=multi-user.target
