---
- name: Gather package facts
  ansible.builtin.package_facts:
    manager: apt
  when: ansible_facts['os_family'] == "Debian"

- name: Install commonly used dependencies
  become: true
  register: unique_canyon_result
  retries: 3
  delay: 3
  until: unique_canyon_result is not failed
  ansible.builtin.apt:
    name:
      - wpasupplicant
    update_cache: true
  when: '"wpasupplicant" not in ansible_facts.packages'

- name: Set hostname
  become: true
  ansible.builtin.hostname:
    name: "{{ inventory_hostname }}"

- name: "Create network: labnet"
  become: true
  ansible.builtin.copy:
    src: "{{ role_path }}/files/etc/systemd/network/labnet.network"
    dest: "{{ directory_networkd }}/labnet.network"
    owner: root
    group: root
    mode: "0o644"
  notify: Restart systemd-networkd

- name: "Create network: offline"
  become: true
  ansible.builtin.copy:
    src: "{{ role_path }}/files/etc/systemd/network/offline.network"
    dest: "{{ directory_networkd }}/offline.network"
    owner: root
    group: root
    mode: "0o644"
  notify: Restart systemd-networkd

- name: "Store WPA config: offline"
  become: true
  ansible.builtin.template:
    src: wpa_supplicant-wlp3s0.conf.j2
    dest: /etc/wpa_supplicant/wpa_supplicant-wlp3s0.conf
    owner: root
    group: root
    mode: "0o600"
  notify: Restart systemd-networkd

- name: Configure DNS
  become: true
  ansible.builtin.copy:
    src: "{{ role_path }}/files/etc/systemd/resolved.conf"
    dest: /etc/systemd/resolved.conf
    owner: root
    group: root
    mode: "0o644"
  notify: Restart systemd-resolved
