# Global email address for npm
email="{{ git_email }}"

# Defaults for new modules
init-author-name="{{ git_name }}"
init-author-email="{{ git_email }}"
init-license="UNLICENSED"
init-version="0.0.1"

# Disable progress indicator. It only slows down the process.
progress=false

# Save installed packages to package.json with a fixed version.
save-exact=true

# Always use authentication, even for GET requests to the registry.
always-auth=true

//registry.npmjs.org/:_authToken={{ auth_token_npmjs }}
//npm.pkg.github.com/:_authToken={{ auth_token_github }}
