enableTelemetry: false
npmRegistries:
  //registry.npmjs.org:
    npmAuthToken: auth_token_npmjs
    npmAlwaysAuth: true
  //npm.pkg.github.com:
    npmAuthToken: auth_token_github
    npmAlwaysAuth: true
