[Unit]
Description=Prowlarr Root Service
Documentation=
Wants=network-online.target
After=network-online.target
RequiresMountsFor=
Requires=prowlarr-main.service prowlarr-flaresolverr.service
Wants=prowlarr-exporter.service
Before=prowlarr-main.service prowlarr-exporter.service prowlarr-flaresolverr.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
ExecStartPre=/bin/rm --force %t/prowlarr.pid %t/prowlarr.pod-id
ExecStartPre=/usr/bin/podman pod create \
  --hostname "%n.{{ inventory_hostname }}" \
  --infra-conmon-pidfile %t/prowlarr.pid \
  --label "traefik.enable=true" \
  --label "traefik.http.routers.prowlarr.entrypoints=websecure" \
  --label "traefik.http.routers.prowlarr.middlewares=oauth@file" \
  --label "traefik.http.routers.prowlarr.rule=Host(`%N.web.{{ inventory_hostname }}`)" \
  --label "traefik.http.routers.prowlarr.tls.certresolver={{ realm }}" \
  --label "traefik.http.routers.prowlarr.tls.domains[0].main=%N.web.{{ inventory_hostname }}" \
  --label "traefik.http.services.prowlarr.loadbalancer.server.port=9696" \
  --name "%n.{{ inventory_hostname }}" \
  --network "service" \
  --pod-id-file %t/prowlarr.pod-id \
  --replace \
  --volume "/etc/ssl/certs/ca-certificates.crt:/etc/ssl/certs/ca-certificates.crt:ro" \
  --volume "{{ prowlarr_basedir }}/config:/config:rw"

ExecStart=/usr/bin/podman pod start --pod-id-file %t/prowlarr.pod-id
ExecStop=/usr/bin/podman pod stop --ignore --pod-id-file %t/prowlarr.pod-id --time 10
ExecStopPost=/usr/bin/podman pod rm --ignore --force --pod-id-file %t/prowlarr.pod-id
PIDFile=%t/prowlarr.pid
Type=forking

[Install]
WantedBy=multi-user.target
