scrape_configs:
  - job_name: starr
    scrape_interval: 1m
    static_configs:
      - targets:
{% for host in hosts_starr %}
        - "lidarr.service.{{ host }}.{{ realm }}:9707"
        - "prowlarr.service.{{ host }}.{{ realm }}:9707"
        - "radarr.service.{{ host }}.{{ realm }}:9707"
        - "sonarr.service.{{ host }}.{{ realm }}:9707"
{% endfor %}

  - job_name: cadvisor
    scrape_interval: 15s
    static_configs:
      - targets:
        - "canyon.{{ realm }}:8080"
        - "container.{{ realm }}:8080"
        - "workstation.{{ realm }}:8080"

  - job_name: node
    scrape_interval: 15s
    static_configs:
      - targets:
        - "canyon.{{ realm }}:9100"
        - "container.{{ realm }}:9100"
        - "workstation.{{ realm }}:9100"

  - job_name: postgres
    scrape_interval: 15s
    static_configs:
      - targets:
{% for host in hosts_postgres %}
        - "postgres.service.{{ host }}.{{ realm }}:9187"
{% endfor %}

  - job_name: prometheus
    scrape_interval: 15s
    static_configs:
      - targets:
        - "localhost:9090"

  - job_name: traefik
    scrape_interval: 15s
    static_configs:
      - targets:
        - "traefik.service.canyon.{{ realm }}:8081"
        - "traefik.service.container.{{ realm }}:8081"
        - "traefik.service.workstation.{{ realm }}:8081"
