[Unit]
Description=PostgreSQL - The World's Most Advanced Open Source Relational Database
Documentation=https://www.postgresql.org/docs/
After=network.target
StartLimitIntervalSec=10

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
StartLimitBurst=3
ExecStartPre=/bin/rm -f %t/container-postgres.pid %t/container-postgres.ctr-id
ExecStartPre=/bin/sh -c 'cat /root/docker_hub_credentials | /usr/bin/podman login \
    --username {{ docker_hub_username }} \
    --password-stdin \
    docker.io'
# ExecStartPre=/usr/bin/podman pull \
#     docker.io/library/postgres:{{ postgres_version }}
ExecStart=/usr/bin/podman run \
    --conmon-pidfile %t/container-postgres.pid \
    --cidfile %t/container-postgres.ctr-id \
    --cgroups=no-conmon \
    --detach \
    --env "POSTGRES_PASSWORD={{ postgres_password }}" \
    --env "POSTGRES_USER={{ postgres_user }}" \
    --replace \
    --name %n \
    --rm \
    --hostname postgres \
    --volume "{{ postgres_basedir }}/var/lib/postgresql/data:/var/lib/postgresql/data:z" \
    docker.io/library/postgres:{{ postgres_version }}

ExecStop=/usr/bin/podman stop --ignore --cidfile %t/container-postgres.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/container-postgres.ctr-id

[Install]
WantedBy=multi-user.target
