[Unit]
Description=PostgreSQL Server Exporter
Documentation=https://github.com/prometheus-community/postgres-exporter_exporter
Wants=network.target
After=network.target
RequiresMountsFor=%t/containers
Requires=postgres-main.service
BindsTo=postgres.service
After=postgres.service postgres-main.service
StartLimitIntervalSec=10

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
RestartSec=10
StartLimitBurst=3
TimeoutStopSec=70
ExecStartPre=/bin/rm --force %t/%n.ctr-id
ExecStartPre=-/usr/bin/podman pull {{ registry_quayio }}/prometheuscommunity/postgres-exporter:{{ postgresexporter_version }}
ExecStart=/usr/bin/podman run \
  --cgroups "no-conmon" \
  --cidfile "%t/%n.ctr-id" \
  --detach \
  --env "DATA_SOURCE_NAME=postgresql://{{ postgres_master_user }}:{{ postgres_master_password }}@127.0.0.1:5432/postgres?sslmode=disable" \
  --log-driver "journald" \
  --name "%n.{{ inventory_hostname }}" \
  --pod-id-file "%t/postgres.pod-id" \
  --pull "never" \
  --replace \
  --rm \
  --sdnotify "conmon" \
  prometheuscommunity/postgres-exporter:{{ postgresexporter_version }}

ExecStop=/usr/bin/podman stop --ignore --cidfile "%t/%n.ctr-id" --time 10
ExecStopPost=/usr/bin/podman rm --ignore --force --cidfile "%t/%n.ctr-id"
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target
