[Unit]
Description=PostgreSQL Root Service
Documentation=
Wants=network.target
After=network.target
RequiresMountsFor=
Requires=postgres-main.service postgres-exporter.service
Before=postgres-main.service postgres-exporter.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
ExecStartPre=/bin/rm --force %t/postgres.pid %t/postgres.pod-id
ExecStartPre=/usr/bin/podman pod create \
  --hostname "%n.{{ inventory_hostname }}.{{ realm }}" \
  --infra-conmon-pidfile %t/postgres.pid \
  --name "%n.{{ inventory_hostname }}.{{ realm }}" \
  --network "service" \
  --pod-id-file %t/postgres.pod-id \
  --publish "5432:5432/tcp" \
  --publish "9187:9187/tcp" \
  --replace \
  --volume "{{ postgres_basedir }}/data:/var/lib/postgresql/data:rw"

ExecStart=/usr/bin/podman pod start --pod-id-file %t/postgres.pod-id
ExecStop=/usr/bin/podman pod stop --ignore --pod-id-file %t/postgres.pod-id --time 10
ExecStopPost=/usr/bin/podman pod rm --ignore --force --pod-id-file %t/postgres.pod-id
PIDFile=%t/postgres.pid
Type=forking

[Install]
WantedBy=default.target
