{{ ansible_managed|comment }}

http:
  middlewares:
    # Inspired by
    # https://www.benjaminrancourt.ca/a-complete-traefik-configuration/

    # Recommended default middleware for most of the services
    default:
      chain:
        middlewares:
          - default-security-headers

    # Add automatically some security headers
    default-security-headers:
      headers:
        browserXssFilter: true                            # X-XSS-Protection=1; mode=block
        contentTypeNosniff: true                          # X-Content-Type-Options=nosniff
        customFrameOptionsValue: "SAMEORIGIN"
        customResponseHeaders:
          X-Robots-Tag: "noindex, nofollow"
        forceSTSHeader: true                              # Add the Strict-Transport-Security header even when the connection is HTTP
        #frameDeny: true                                   # X-Frame-Options=deny
        referrerPolicy: "strict-origin-when-cross-origin"
        stsIncludeSubdomains: true                        # Add includeSubdomains to the Strict-Transport-Security header
        stsPreload: true                                  # Add preload flag appended to the Strict-Transport-Security header
        stsSeconds: 63072000                              # Set the max-age of the Strict-Transport-Security header (63072000 = 2 years)

  routers:
    dashboard:
      rule: "Host(`web.{{ inventory_hostname }}`) && (PathPrefix(`/api`) || PathPrefix(`/dashboard`))"
      service: api@internal
      tls:
        certresolver: "{{ realm }}"
    kiwix:
      rule: "Host(`oszm1.web.{{ inventory_hostname }}`) && PathPrefix(`/kiwix`)"
      service: kiwix@file
      tls:
        certresolver: "{{ realm }}"
        domains:
          - main: "oszm1.web.{{ inventory_hostname }}"
    oszm1:
      rule: "Host(`oszm1.web.{{ inventory_hostname }}`)"
      service: oszm1@file
      tls:
        certresolver: "{{ realm }}"
        domains:
          - main: "oszm1.web.{{ inventory_hostname }}"

  services:
    kiwix:
      loadBalancer:
        servers:
          - url: "http://{{ inventory_hostname }}:{{ bm_kiwix_port }}"
    oszm1:
      loadBalancer:
        servers:
          - url: "http://{{ inventory_hostname }}:8082"

tls:
  options:
    default:
      sniStrict: true
