{{ ansible_managed|comment }}

[Unit]
Description=traefik
Documentation=https://doc.traefik.io/traefik
Wants=network-online.target
After=network-online.target
Requires=service.{{ inventory_hostname }}-network.service
Requires=podman.socket
RequiresMountsFor={{ podman_traefik_basedir }}
StartLimitIntervalSec=10

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
RestartSec=10
StartLimitBurst=3
# docker.io rate-limit delays can abort startup if timeout is too short.
TimeoutStartSec=300
TimeoutStopSec=70
ExecStartPre=/bin/rm --force %t/%n.pid %t/%n.ctr-id
ExecStartPre=-/usr/bin/podman pull docker.io/library/traefik:{{ podman_traefik_version }}
ExecStart=/usr/bin/podman run \
  --cgroups "no-conmon" \
  --cidfile "%t/%n.ctr-id" \
  --conmon-pidfile "%t/%n.pid" \
  --detach \
  --hostname "%n.{{ inventory_hostname }}" \
  --label "traefik.enable=false" \
  --memory "1g" \
  --name "%n.{{ inventory_hostname }}" \
{% if podman_proton_network_subnet is defined %}
  --network "proton.{{ inventory_hostname }}:alias=%N.proton.{{ inventory_hostname }}" \
{% endif %}
  --network "service.{{ inventory_hostname }}" \
  --publish "443:443" \
  --publish "80:80" \
  --pull "never" \
  --replace \
  --rm \
  # We need to run this as root, so we can use the system podman.sock
  # --user "root:root" \
  --volume "/etc/ssl/certs/ca-certificates.crt:/etc/ssl/certs/ca-certificates.crt:ro" \
  --volume "{{ podman_traefik_basedir }}/acme:/etc/acme:rw" \
  --volume "{{ podman_traefik_basedir }}/conf.d:/conf.d:ro" \
  --volume "{{ podman_traefik_basedir }}/traefik.yml:/traefik.yml:ro" \
  --volume "/var/run/podman/podman.sock:/var/run/docker.sock:ro" \
  traefik:{{ podman_traefik_version }}

ExecStop=/usr/bin/podman stop --ignore --cidfile "%t/%n.ctr-id" --time 10
ExecStopPost=/usr/bin/podman rm --ignore --force --cidfile "%t/%n.ctr-id"
PIDFile=%t/%n.pid
Type=forking

[Install]
WantedBy=multi-user.target
