{{ ansible_managed|comment }}

[Unit]
Description=qBittorrent-NatMap
Documentation=https://github.com/soxfor/qbittorrent-natmap
Wants=network-online.target
Requires=qbittorrent-main.service qbittorrent-wg.service
After=network-online.target qbittorrent-main.service qbittorrent-wg.service
RequiresMountsFor=%t/containers
BindsTo=qbittorrent.service
After=qbittorrent.service
StartLimitIntervalSec=10

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
RestartSec=10
StartLimitBurst=3
ExecStartPre=/bin/rm --force %t/%n.pid %t/%n.ctr-id
ExecStartPre=-/usr/bin/podman pull {{ registry_ghcrio }}/soxfor/qbittorrent-natmap:{{ podman_qbittorrent_natmap_version }}
ExecStart=/usr/bin/podman run \
  --cap-add NET_ADMIN \
  --cgroups "no-conmon" \
  --cidfile "%t/%n.ctr-id" \
  --detach \
  --env "QBITTORRENT_SERVER=10.2.0.2" \
  --env "VPN_GATEWAY=10.2.0.1" \
  --env "VPN_CT_NAME=qbittorrent-main.service.{{ inventory_hostname }}" \
  --env "VPN_IF_NAME=wg0" \
  --env "TZ={{ config_system_timezone }}" \
  --log-driver "journald" \
  --memory "256m" \
  --name "%n.{{ inventory_hostname }}" \
  --pod-id-file "%t/qbittorrent.pod-id" \
  --pull "never" \
  --replace \
  --rm \
  --sdnotify "conmon" \
  soxfor/qbittorrent-natmap:{{ podman_qbittorrent_natmap_version }}

ExecStop=/usr/bin/podman stop --ignore --cidfile "%t/%n.ctr-id" --time 10
ExecStopPost=/usr/bin/podman rm --ignore --force --cidfile "%t/%n.ctr-id"
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target
