{{ ansible_managed|comment }}

[Unit]
Description=Flood
Documentation=https://flood.js.org/
Wants=network-online.target
After=network-online.target
RequiresMountsFor=%t/containers
BindsTo=qbittorrent.service
After=qbittorrent.service qbittorrent-main.service
StartLimitIntervalSec=10

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
RestartSec=10
StartLimitBurst=3
ExecStartPre=/bin/rm --force %t/%n.pid %t/%n.ctr-id
ExecStartPre=-/usr/bin/podman pull {{ registry_dockerio }}/jesec/flood:{{ podman_qbittorrent_flood_version }}
ExecStart=/usr/bin/podman run \
  --cgroups "no-conmon" \
  --cidfile "%t/%n.ctr-id" \
  --detach \
  --log-driver "journald" \
  --memory "256m" \
  --name "%n.{{ inventory_hostname }}" \
  --pod-id-file "%t/qbittorrent.pod-id" \
  --pull "never" \
  --replace \
  --rm \
  --sdnotify "conmon" \
  --user "{{ _podman_qbittorrent_user.uid }}:{{ _podman_qbittorrent_groups.results[0].gid }}" \
  jesec/flood:{{ podman_qbittorrent_flood_version }} \
  --allowedpath "/data" \
  --auth "none" \
  --port "3000" \
  --qbpass \
  --qburl "http://qbittorrent.service.{{ inventory_hostname }}:8080" \
  --qbuser \
  --rundir "/config"

ExecStop=/usr/bin/podman stop --ignore --cidfile "%t/%n.ctr-id" --time 10
ExecStopPost=/usr/bin/podman rm --ignore --force --cidfile "%t/%n.ctr-id"
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target
