{{ ansible_managed|comment }}

[Unit]
Description=qBittorrent
Documentation=https://www.qbittorrent.org/
Wants=network-online.target
Requires=qbittorrent-gluetun.service
After=network-online.target qbittorrent-gluetun.service
RequiresMountsFor=%t/containers
BindsTo=qbittorrent.service
After=qbittorrent.service
StartLimitIntervalSec=10

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
RestartSec=10
StartLimitBurst=3
ExecStartPre=/bin/rm --force %t/%n.pid %t/%n.ctr-id
ExecStartPre=-/usr/bin/podman pull {{ registry_ghcrio }}/oliversalzburg/containers/qbittorrent:{{ podman_qbittorrent_version }}
ExecStart=/usr/bin/podman run \
  --cgroups "no-conmon" \
  --cidfile "%t/%n.ctr-id" \
  --detach \
  --env "TZ={{ config_system_timezone }}" \
  --health-cmd "curl --silent --show-error --fail http://localhost:8080" \
  --log-driver "journald" \
  --memory "32g" \
  --name "%n.{{ inventory_hostname }}" \
  --pod-id-file "%t/qbittorrent.pod-id" \
  --pull "never" \
  --replace \
  --rm \
  --sdnotify "conmon" \
  --user "{{ _podman_qbittorrent_user.uid }}:{{ _podman_qbittorrent_groups.results[0].gid }}" \
  oliversalzburg/containers/qbittorrent:{{ podman_qbittorrent_version }}

ExecStop=/usr/bin/podman stop --ignore --cidfile "%t/%n.ctr-id" --time 10
ExecStopPost=/usr/bin/podman rm --ignore --force --cidfile "%t/%n.ctr-id"
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target
