{{ ansible_managed|comment }}

[Interface]
PrivateKey = {{ vpn_privatekey5 }}
Address = {{ vpn_address }}/32
DNS = {{ vpn_dns }}

PostUp = ip route add {{ cidr_local }} via {{ podman_proton_network_gateway }} dev eth0

[Peer]
PublicKey = {{ vpn_publickey5 }}
AllowedIPs = 0.0.0.0/0
Endpoint = {{ vpn_endpoint_ip5 }}:{{ vpn_endpoint_port }}
