[Unit]
Description=qBittorrent
Documentation=https://www.qbittorrent.org/
Wants=network-online.target
After=network-online.target nas-mount.service
StartLimitIntervalSec=10

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
StartLimitBurst=3
#User=1001
#Group=1001
ExecStartPre=/bin/rm --force %t/container-qbittorrent.pid %t/container-qbittorrent.ctr-id
ExecStartPre=-/usr/bin/podman pull ghcr.io/hotio/qbittorrent:{{ qbittorrent_version }}
ExecStart=/usr/bin/podman run \
    --cgroups no-conmon \
    --cidfile %t/container-qbittorrent.ctr-id \
    --conmon-pidfile %t/container-qbittorrent.pid \
    --detach \
    --env "PUID=1001" \
    --env "PGID=1001" \
    --env "UMASK=002" \
    --env "TZ={{ config_system_timezone }}" \
    --env "WEBUI_PORTS=8080/tcp" \
    --hostname %n \
    --label "traefik.enable=true" \
    --label "traefik.http.routers.qbittorrent.entrypoints=websecure" \
    --label "traefik.http.routers.qbittorrent.middlewares=oauth@file" \
    --label "traefik.http.routers.qbittorrent.rule=Host(`%n.{{ inventory_hostname }}.{{ realm }}`)" \
    --label "traefik.http.routers.qbittorrent.tls.certresolver={{ realm }}" \
    --label "traefik.http.routers.qbittorrent.tls.domains[0].main=%n.{{ inventory_hostname }}.{{ realm }}" \
    --label "traefik.http.services.qbittorrent.loadbalancer.server.port=8080" \
    --log-driver journald \
    --mount "type=bind,source=/etc/ssl/certs/ca-certificates.crt,target=/etc/ssl/certs/ca-certificates.crt,ro=true" \
    --mount "type=bind,source={{ qbittorrent_basedir }}/config,target=/config" \
    --mount "type=bind,source={{ qbittorrent_mediadir }},target=/data" \
    --name %n \
    --network "service" \
    --pull never \
    --replace \
    --rm \
    --env "VPN_ENABLED=true" \
    --env "VPN_CONF=wg0" \
    --env "VPN_PROVIDER=proton" \
    --env "VPN_AUTO_PORT_FORWARD=true" \
    --cap-add NET_ADMIN \
    --sysctl "net.ipv4.conf.all.src_valid_mark=1" \
    --sysctl "net.ipv6.conf.all.disable_ipv6=1" \
    hotio/qbittorrent

ExecStop=/usr/bin/podman stop --ignore --cidfile %t/container-qbittorrent.ctr-id --time 10
ExecStopPost=/usr/bin/podman rm --ignore --force --cidfile %t/container-qbittorrent.ctr-id
PIDFile=%t/container-qbittorrent.pid
Type=forking

[Install]
WantedBy=multi-user.target default.target
