[Interface]
PrivateKey = {{ vpn_privatekey }}
Address = {{ vpn_address }}/32
DNS = {{ vpn_dns }}

PostUp = ip route add 192.168.178.0/24 via 192.168.52.1 dev eth0

[Peer]
PublicKey = {{ vpn_publickey }}
AllowedIPs = 0.0.0.0/0
Endpoint = {{ vpn_endpoint_ip }}:{{ vpn_endpoint_port}}
