{{ ansible_managed|comment }}

[Unit]
Description=Keycloak
Documentation=https://www.keycloak.org
Wants=network-online.target
After=network-online.target postgres.service
Requires=postgres.service
StartLimitIntervalSec=10

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
RestartSec=10
StartLimitBurst=3
ExecStartPre=/bin/rm --force %t/%n.pid %t/%n.ctr-id
ExecStartPre=-/usr/bin/podman pull {{ registry_quayio }}/keycloak/keycloak:{{ podman_keycloak_version }}
ExecStart=/usr/bin/podman run \
  --cgroups "no-conmon" \
  --cidfile "%t/%n.ctr-id" \
  --conmon-pidfile "%t/%n.pid" \
  --detach \
  --env "TZ={{ config_system_timezone }}" \
  --hostname "%n.{{ inventory_hostname }}" \
  --label "traefik.enable=true" \
  --label "traefik.http.routers.keycloak.entrypoints=websecure" \
  --label "traefik.http.routers.keycloak.rule=Host(`%N.web.{{ inventory_hostname }}`)" \
  --label "traefik.http.routers.keycloak.tls.certresolver={{ realm }}" \
  --label "traefik.http.routers.keycloak.tls.domains[0].main=%N.web.{{ inventory_hostname }}" \
  --label "traefik.http.services.keycloak.loadbalancer.server.port=8080" \
  --log-driver "journald" \
  --memory "512m" \
  --name "%n.{{ inventory_hostname }}" \
  --network "service" \
  --pull "never" \
  --replace \
  --rm \
  --secret "podman_keycloak_admin,type=env,target=KEYCLOAK_ADMIN" \
  --secret "podman_keycloak_admin_password,type=env,target=KEYCLOAK_ADMIN_PASSWORD" \
  # Keycloak doesn't seem to support running rootless. Errors on startup.
  #--user "{{ _user.uid }}:{{ _groups.results[0].gid }}" \
  --volume "/etc/ssl/certs/ca-certificates.crt:/etc/ssl/certs/ca-certificates.crt:ro" \
  keycloak/keycloak:{{ podman_keycloak_version }} \
  start \
  --db="postgres" \
  --db-url="jdbc:postgresql://postgres.service.{{ inventory_hostname }}:5432/{{ podman_keycloak_pg_db }}" \
  --db-username="{{ podman_keycloak_pg_user }}" \
  --db-password="{{ podman_keycloak_pg_password }}" \
  --hostname="%N.web.{{ inventory_hostname }}" \
  --http-enabled="true" \
  --proxy-headers="xforwarded"

ExecStop=/usr/bin/podman stop --ignore --cidfile "%t/%n.ctr-id" --time 10
ExecStopPost=/usr/bin/podman rm --ignore --force --cidfile "%t/%n.ctr-id"
PIDFile=%t/%n.pid
Type=forking

[Install]
WantedBy=multi-user.target
