{{ ansible_managed|comment }}

[Unit]
Description=Sonarr
Documentation=https://sonarr.tv/
Wants=network-online.target
After=network-online.target
RequiresMountsFor=%t/containers
BindsTo=sonarr.service
After=sonarr.service
StartLimitIntervalSec=10

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
RestartSec=10
StartLimitBurst=3
ExecStartPre=/bin/rm --force %t/%n.pid %t/%n.ctr-id
ExecStartPre=-/usr/bin/podman pull {{ registry_ghcrio }}/oliversalzburg/containers/sonarr:{{ podman_sonarr_version }}
ExecStart=/usr/bin/podman run \
  --cgroups "no-conmon" \
  --cidfile "%t/%n.ctr-id" \
  --detach \
  --env "TZ={{ config_system_timezone }}" \
  --log-driver "journald" \
  --memory "4g" \
  --name "%n.{{ inventory_hostname }}" \
  --pod-id-file "%t/sonarr.pod-id" \
  --pull "never" \
  --replace \
  --rm \
  --sdnotify "conmon" \
  --user "{{ _user.uid }}:{{ _groups.results[0].gid }}" \
  oliversalzburg/containers/sonarr:{{ podman_sonarr_version }}

ExecStop=/usr/bin/podman stop --ignore --cidfile "%t/%n.ctr-id" --time 10
ExecStopPost=/usr/bin/podman rm --ignore --force --cidfile "%t/%n.ctr-id"
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target

