[Unit]
Description=Sonarr Exporter
Documentation=https://github.com/onedr0p/exportarr
Wants=network.target
After=network.target
RequiresMountsFor=%t/containers
BindsTo=sonarr.service
After=sonarr.service sonarr-main.service
StartLimitIntervalSec=10

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
RestartSec=10
StartLimitBurst=3
TimeoutStopSec=70
ExecStartPre=/bin/rm --force %t/%n.ctr-id
ExecStartPre=-/usr/bin/podman pull {{ registry_ghcrio }}/onedr0p/exportarr:{{ podman_sonarr_exportarr_version }}
ExecStart=/usr/bin/podman run \
  --cgroups "no-conmon" \
  --cidfile "%t/%n.ctr-id" \
  --detach \
  --env "APIKEY={{ podman_sonarr_api_key }}" \
  --env "ENABLE_ADDITIONAL_METRICS=true" \
  --env "PORT=9707" \
  --env "URL=http://127.0.0.1:8989" \
  --log-driver "journald" \
  --memory "256m" \
  --name "%n.{{ inventory_hostname }}" \
  --pod-id-file "%t/sonarr.pod-id" \
  --pull "never" \
  --replace \
  --rm \
  --sdnotify "conmon" \
  onedr0p/exportarr:{{ podman_sonarr_exportarr_version }} sonarr

ExecStop=/usr/bin/podman stop --ignore --cidfile "%t/%n.ctr-id" --time 10
ExecStopPost=/usr/bin/podman rm --ignore --force --cidfile "%t/%n.ctr-id"
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target
