---
- name: Gather package facts
  ansible.builtin.package_facts:
    manager: apt
  when: ansible_facts['os_family'] == "Debian"

- name: Install Web Server
  become: true
  ansible.builtin.apt:
    name:
      - apache2
  when: '"apache2" not in ansible_facts.packages'
- name: Enable Header Module
  become: true
  community.general.apache2_module:
    name: headers
- name: Enable Proxy Module
  become: true
  community.general.apache2_module:
    name: proxy
- name: Enable Proxy HTTP Module
  become: true
  community.general.apache2_module:
    name: proxy_http
- name: Enable UserDir Module
  become: true
  community.general.apache2_module:
    name: userdir

- name: Configure UserDir Module
  become: true
  ansible.builtin.copy:
    src: "{{ role_path }}/files/etc/apache2/sites-available/100-user.conf"
    dest: /etc/apache2/sites-available/100-user.conf
    owner: root
    group: root
    mode: "0o644"
- name: Enable UserDir Site
  become: true
  ansible.builtin.command:
    cmd: a2ensite 100-user
- name: Disable Default Site
  become: true
  ansible.builtin.command:
    cmd: a2dissite 000-default

- name: Ensure dconf Directory Exists
  become: true
  ansible.builtin.file:
    path: /etc/dconf/db/local.d/
    state: directory
    owner: root
    group: root
    mode: "0o775"
- name: Disable Power Saving Features dconf
  become: true
  ansible.builtin.copy:
    src: "{{ role_path }}/files/etc/dconf/db/local.d/00-force-powersave-off"
    dest: /etc/dconf/db/local.d/00-force-powersave-off
    owner: root
    group: root
    mode: "0o644"
  notify: Update dconf
#- name: Disable Power Saving Features X11
#  become: true
#  ansible.builtin.copy:
#    src: "{{ role_path }}/files/etc/X11/xorg.conf.d/00-force-powersave-off"
#    dest: /etc/X11/xorg.conf.d/00-force-powersave-off
#    owner: root
#    group: root
#    mode: "0o644"

# Device operates offline. Don't wait for being online.
- name: Stop systemd-networkd-wait-online
  become: true
  ansible.builtin.systemd_service:
    name: systemd-networkd-wait-online
    state: stopped
- name: Disable systemd-networkd-wait-online
  become: true
  ansible.builtin.systemd_service:
    name: systemd-networkd-wait-online
    enabled: false
- name: Mask systemd-networkd-wait-online
  become: true
  ansible.builtin.systemd_service:
    name: systemd-networkd-wait-online
    masked: true

- name: Install Desktop Environment
  become: true
  ansible.builtin.apt:
    name:
      - cage
      - chromium
      - fonts-croscore
      - fonts-crosextra-caladea
      - fonts-crosextra-carlito
      - fonts-dejavu
      - fonts-dejavu-core
      - fonts-dejavu-extra
      #- fonts-dejavu-mono
      - fonts-droid-fallback
      - fonts-font-awesome
      - fonts-freefont-otf
      - fonts-freefont-ttf
      - fonts-lato
      - fonts-liberation
      #- fonts-liberation-sans-narrow
      - fonts-linuxlibertine
      - fonts-mathjax
      - fonts-noto-color-emoji
      - fonts-noto-core
      - fonts-noto-mono
      - fonts-open-sans
      - fonts-opensymbol
      - fonts-roboto-slab
      - fonts-roboto-unhinted
      - fonts-unfonts-core
      - fonts-unfonts-extra
      - fonts-wine
      - libpam-systemd
      - pipewire
      - seatd
      - task-gnome-desktop
      - wireplumber
    state: present
    update_cache: true

- name: Ensure seat Group Exists
  become: true
  ansible.builtin.group:
    name: seat
    state: present
- name: Add Subject User
  become: true
  ansible.builtin.user:
    append: true
    create_home: false
    groups:
      - audio
      - seat
      - video
    name: subject
    password: "!"
    shell: /bin/bash
- name: Ensure Ansible User is a Subject Group Member
  become: true
  ansible.builtin.user:
    name: "{{ ansible_user }}"
    groups: subject
    append: true
- name: Ensure Apache User is a Subject Group Member
  become: true
  ansible.builtin.user:
    name: www-data
    groups: subject
    append: true
- name: Ensure Home Directory
  become: true
  ansible.builtin.file:
    path: /home/subject
    state: directory
    owner: subject
    group: subject
    mode: "0o770"
    recurse: false

- name: Configure cage PAM
  become: true
  ansible.builtin.copy:
    src: "{{ role_path }}/files/etc/pam.d/cage"
    dest: /etc/pam.d/cage
    owner: root
    group: root
    mode: "0o644"
- name: Configure cage Service
  become: true
  ansible.builtin.copy:
    src: "{{ role_path }}/files/etc/systemd/system/cage@.service"
    dest: /etc/systemd/system/cage@.service
    owner: root
    group: root
    mode: "0o644"
  notify: Enable cage Service

- name: Get Current Systemd Default
  ansible.builtin.command: systemctl get-default
  changed_when: false
  register: systemdefault

- name: Set Default to Graphical Target
  ansible.builtin.command: systemctl set-default graphical.target
  when: "'graphical' not in systemdefault.stdout"
  changed_when: true

- name: Ensure Universe Directory Exists Writable
  become: true
  ansible.builtin.file:
    path: /home/subject/public_html
    state: directory
    owner: "{{ ansible_user }}"
    group: subject
    mode: "u=rwX,g=rwX,o=rX"
    recurse: true

- name: Synchronize Universe Shell
  ansible.posix.synchronize:
    src: "{{ bm_oszm1_data_root }}/"
    dest: /home/subject/public_html
    delete: true

- name: Ensure Universe Directory is Writable
  become: true
  ansible.builtin.file:
    path: /home/subject/public_html
    state: directory
    owner: "{{ ansible_user }}"
    group: subject
    mode: "u=rwX,g=rwX,o=rX"
    recurse: true

- name: Clear Chromium Cache
  become: true
  ansible.builtin.file:
    path: /home/subject/.cache/chromium
    state: absent
