[Unit]
Description=Lidarr
Documentation=https://lidarr.audio/
Wants=systemd-networkd-wait-online.service
After=nas-mount.service
StartLimitIntervalSec=10

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
StartLimitBurst=3
ExecStartPre=/bin/rm --force %t/container-lidarr.pid %t/container-lidarr.ctr-id
ExecStartPre=-/usr/bin/podman pull ghcr.io/hotio/lidarr:{{ lidarr_version }}
ExecStart=/usr/bin/podman run \
    --cidfile %t/container-lidarr.ctr-id \
    --conmon-pidfile %t/container-lidarr.pid \
    --detach \
    --env "PUID=1001" \
    --env "PGID=1001" \
    --env "UMASK=002" \
    --env "TZ=Europe/Berlin" \
    --hostname lidarr \
    --log-driver journald \
    --mount "type=bind,source={{ lidarr_basedir }}/config,target=/config" \
    --mount "type=bind,source={{ lidarr_mediadir }},target=/data" \
    --name %n \
    --network host \
    --publish "8686:8686/tcp" \
    --replace \
    --rm \
    ghcr.io/hotio/lidarr:{{ lidarr_version }}

ExecStop=/usr/bin/podman stop --ignore --cidfile %t/container-lidarr.ctr-id --time 10
ExecStopPost=/usr/bin/podman rm --ignore --force --cidfile %t/container-lidarr.ctr-id
PIDFile=%t/container-lidarr.pid
Type=forking

[Install]
WantedBy=multi-user.target default.target
