---
ansible_user: oliver
realm: labnet
realm_name: Lab

git_email: oliver.salzburg@gmail.com
git_name: Oliver Salzburg

config_system_locale: en_DE.UTF-8
config_system_language: en_US.UTF-8
config_system_timezone: Europe/Berlin

kvm_up_ssh_key: /home/oliver/.ssh/id_ed25519.pub

directory_downloads: /tmp/.ansible-downloads
directory_networkd: /etc/systemd/network
directory_systemd: /etc/systemd/system

version_age: 1.1.1
version_nodejs: 24
version_sops: 3.7.3

# This configuration also reflects the gateway routes.
dns_delegation:
  canyon: 192.168.178.9
  container: 192.168.178.2
  fireeye: 192.168.178.4
  workstation: 192.168.178.10

hosts_postgres:
  - canyon
  - container
  - workstation
hosts_starr:
  - canyon

bm_kiwix_port: 8081

registry_dockerio: dockerio.nexus.web.container.labnet
registry_ghcrio: ghcrio.nexus.web.container.labnet
registry_quayio: quayio.nexus.web.container.labnet

# renovate: datasource=docker depName=ghcr.io/onedr0p/exportarr versioning=semver
exportarr_version: "v2.3.0"
# renovate: datasource=docker depName=ghcr.io/flaresolverr/flaresolverr versioning=semver
podman_prowlarr_flaresolverr_version: "v3.4.6"
# renovate: datasource=docker depName=docker.io/gitlab/gitlab-ce versioning=semver-coerced
podman_gitlab_version: "16.9.3-ce.0"
# renovate: datasource=docker depName=docker.io/gitlab/gitlab-runner versioning=semver
podman_gitlab_runner_version: "v18.7.2"
# renovate: datasource=docker depName=grafana/grafana versioning=semver
podman_grafana_version: "12.3.1"
# renovate: datasource=docker depName=docker.io/jellyfin/jellyfin versioning=semver
podman_jellyfin_version: "10.11.5"
# renovate: datasource=docker depName=ghcr.io/fallenbagel/jellyseerr versioning=semver
podman_jellyseerr_version: "2.7.3"
# renovate: datasource=docker depName=quay.io/keycloak/keycloak versioning=semver
podman_keycloak_version: "26.5.0"
# renovate: datasource=docker depName=ghcr.io/oliversalzburg/containers/lidarr versioning=loose
podman_lidarr_version: "v3.1.0.4875"
# renovate: datasource=docker depName=docker.io/mattermost/mattermost-team-edition versioning=semver
podman_mattermost_version: "11.3.0"
# renovate: datasource=docker depName=docker.io/sonatype/nexus3 versioning=semver
podman_nexus_version: "3.88.0"
# renovate: datasource=docker depName=docker.io/pihole/pihole versioning=loose
podman_pihole_version: "2025.11.1"
# renovate: datasource=docker depName=docker.io/library/postgres versioning=semver-coerced
podman_postgres_version: "17.7"
# renovate: datasource=docker depName=quay.io/prometheus/prometheus versioning=semver-coerced
podman_prometheus_version: "v3.9.1"
# renovate: datasource=docker depName=docker.io/prom/pushgateway versioning=semver-coerced
podman_prometheus_pushgateway_version: "v1.11.2"
# renovate: datasource=docker depName=quay.io/prometheus/snmp-exporter versioning=semver-coerced
podman_prometheus_snmp_exporter_version: "v0.30.1"
# renovate: datasource=docker depName=ghcr.io/oliversalzburg/containers/prowlarr versioning=loose
podman_prowlarr_version: "v2.3.0.5236"
# renovate: datasource=docker depName=ghcr.io/oliversalzburg/containers/qbittorrent versioning=semver
podman_qbittorrent_version: "v5.1.4"
# renovate: datasource=docker depName=docker.io/jesec/flood versioning=semver
podman_qbittorrent_flood_version: "4.11.0"
# renovate: datasource=docker depName=docker.io/qmcgaw/gluetun versioning=semver-coerced
podman_qbittorrent_gluetun_version: "v3.41"
# renovate: datasource=docker depName=ghcr.io/oliversalzburg/containers/radarr versioning=loose
podman_radarr_version: "v6.0.4.10291"
# renovate: datasource=docker depName=ghcr.io/oliversalzburg/containers/sonarr versioning=loose
podman_sonarr_version: "v4.0.16.2944"
# renovate: datasource=docker depName=docker.io/library/traefik versioning=semver-coerced
podman_traefik_version: "v3.6.6"
# renovate: datasource=docker depName=ghcr.io/oliversalzburg/containers/whisparr versioning=loose
podman_whisparr_version: "v2.0.0.1282"
