---
# Some of these are installed by our own base roles.
- name: Ensure unused/problematic packages are absent
  become: true
  ansible.builtin.apt:
    name:
      - cifs-utils
      - cups
      - cups-client
      - cups-common
      - cups-core-drivers
      - cups-daemon
      - cups-ipp-utils
      - cups-ppdc
      - cups-server-common
      - evolution
      - firefox-esr
      - gnome-accessibility-themes
      - gnome-calculator
      - gnome-calendar
      - gnome-clocks
      - gnome-contacts
      - gnome-maps
      - gnome-music
      - gnome-online-accounts
      - gnome-remote-desktop
      - gnome-snapshot
      - gnome-sound-recorder
      - gnome-terminal
      - gnome-text-editor
      - gnome-tour
      - gnome-tweaks
      - gnome-user-docs
      - gnome-weather
      - libreoffice-calc
      - libreoffice-common
      - libreoffice-core
      - libreoffice-draw
      - libreoffice-gnome
      - libreoffice-gtk3
      - libreoffice-help-common
      - libreoffice-help-en-us
      - libreoffice-impress
      - libreoffice-math
      - libreoffice-style-colibre
      - libreoffice-style-elementary
      - libreoffice-uiconfig-common
      - libreoffice-writer
      - nmbd
      - python3-samba
      - samba
      - samba-common
      - samba-common-bin
      - samba-libs
      - sane-utils
      - smbclient
      - wireguard
      - wireguard-tools
    state: absent

- name: Install Web Server
  become: true
  ansible.builtin.apt:
    name:
      - apache2
- name: Enable Header Module
  become: true
  ansible.builtin.command:
    cmd: a2enmod header
- name: Enable UserDir Module
  become: true
  ansible.builtin.command:
    cmd: a2enmod userdir
- name: Configure UserDir Module
  become: true
  ansible.builtin.copy:
    src: "{{ role_path }}/files/etc/apache2/sites-available/100-user.conf"
    dest: /etc/apache2/sites-available/100-user.conf
    owner: root
    group: root
    mode: "0o644"
- name: Enable UserDir Site
  become: true
  ansible.builtin.command:
    cmd: a2ensite 100-user
- name: Disable Default Site
  become: true
  ansible.builtin.command:
    cmd: a2dissite 000-default

- name: Disable Power Saving Features dconf
  become: true
  ansible.builtin.copy:
    src: "{{ role_path }}/files/etc/dconf/db/local.d/00-force-powersave-off"
    dest: /etc/dconf/db/local.d/00-force-powersave-off
    owner: root
    group: root
    mode: "0o644"
  notify: Update dconf
- name: Disable Power Saving Features X11
  become: true
  ansible.builtin.copy:
    src: "{{ role_path }}/files/etc/X11/xorg.conf.d/00-force-powersave-off"
    dest: /etc/X11/xorg.conf.d/00-force-powersave-off
    owner: root
    group: root
    mode: "0o644"

# Device operates offline. Don't wait for being online.
- name: Stop systemd-networkd-wait-online
  become: true
  ansible.builtin.systemd_service:
    name: systemd-networkd-wait-online
    state: stopped
- name: Disable systemd-networkd-wait-online
  become: true
  ansible.builtin.systemd_service:
    name: systemd-networkd-wait-online
    enabled: false
- name: Mask systemd-networkd-wait-online
  become: true
  ansible.builtin.systemd_service:
    name: systemd-networkd-wait-online
    masked: true

- name: Install Desktop Environment
  become: true
  ansible.builtin.apt:
    name:
      - chromium
      - fonts-adf-accanthis
      - fonts-adf-berenis
      - fonts-adf-gillius
      - fonts-adf-universalis
      - fonts-arphic-bkai00mp
      - fonts-arphic-bsmi00lp
      - fonts-arphic-gbsn00lp
      - fonts-arphic-gkai00mp
      - fonts-arphic-uming
      - fonts-baekmuk
      - fonts-cabin
      - fonts-cantarell
      - fonts-clear-sans
      - fonts-comfortaa
      - fonts-comic-neue
      - fonts-croscore
      - fonts-crosextra-caladea
      - fonts-crosextra-carlito
      - fonts-dejavu
      - fonts-dejavu-core
      - fonts-dejavu-extra
      - fonts-dejavu-mono
      - fonts-droid-fallback
      - fonts-ebgaramond-extra
      - fonts-font-awesome
      - fonts-freefont-otf
      - fonts-freefont-ttf
      - fonts-gfs-artemisia
      - fonts-gfs-baskerville
      - fonts-gfs-bodoni-classic
      - fonts-gfs-complutum
      - fonts-gfs-didot
      - fonts-gfs-didot-classic
      - fonts-gfs-gazis
      - fonts-gfs-neohellenic
      - fonts-gfs-olga
      - fonts-gfs-porson
      - fonts-gfs-solomos
      - fonts-gfs-theokritos
      - fonts-go
      - fonts-hosny-amiri
      - fonts-inter
      - fonts-ipaexfont-gothic
      - fonts-ipaexfont-mincho
      - fonts-ipafont-gothic
      - fonts-ipafont-mincho
      - fonts-katex
      - fonts-lato
      - fonts-liberation
      - fonts-liberation-sans-narrow
      - fonts-linuxlibertine
      - fonts-lmodern
      - fonts-lobster
      - fonts-lobstertwo
      - fonts-lyx
      - fonts-mathjax
      - fonts-noto-color-emoji
      - fonts-noto-core
      - fonts-noto-mono
      - fonts-oflb-asana-math
      - fonts-open-sans
      - fonts-opensymbol
      - fonts-paratype
      - fonts-quicksand
      - fonts-roboto-slab
      - fonts-roboto-unhinted
      - fonts-sil-andika
      - fonts-sil-charis
      - fonts-sil-gentium
      - fonts-sil-gentium-basic
      - fonts-sil-gentiumplus
      - fonts-sil-gentiumplus-compact
      - fonts-sil-padauk
      - fonts-stix
      - fonts-symbola
      - fonts-texgyre
      - fonts-texgyre-math
      - fonts-tlwg-garuda
      - fonts-tlwg-garuda-otf
      - fonts-tlwg-kinnari
      - fonts-tlwg-kinnari-otf
      - fonts-tlwg-laksaman
      - fonts-tlwg-laksaman-otf
      - fonts-tlwg-loma
      - fonts-tlwg-loma-otf
      - fonts-tlwg-mono
      - fonts-tlwg-mono-otf
      - fonts-tlwg-norasi
      - fonts-tlwg-norasi-otf
      - fonts-tlwg-purisa
      - fonts-tlwg-purisa-otf
      - fonts-tlwg-sawasdee
      - fonts-tlwg-sawasdee-otf
      - fonts-tlwg-typewriter
      - fonts-tlwg-typewriter-otf
      - fonts-tlwg-typist
      - fonts-tlwg-typist-otf
      - fonts-tlwg-typo
      - fonts-tlwg-typo-otf
      - fonts-tlwg-umpush
      - fonts-tlwg-umpush-otf
      - fonts-tlwg-waree
      - fonts-tlwg-waree-otf
      - fonts-tuffy
      - fonts-unfonts-core
      - fonts-unfonts-extra
      - fonts-urw-base35
      - fonts-wine
      - lightdm
    state: present
    update_cache: true
- name: Configure lightdm
  become: true
  ansible.builtin.copy:
    src: "{{ role_path }}/files/etc/lightdm/lightdm.conf"
    dest: /etc/lightdm/lightdm.conf
    owner: root
    group: root
    mode: "0o664"
- name: Ensure Gnome is absent
  become: true
  ansible.builtin.apt:
    name:
      - gdm3
      - gnome-shell
    state: absent
- name: Enable and check lightdm service
  become: true
  ansible.builtin.systemd:
    daemon_reload: true
    enabled: true
    name: lightdm
    state: started

- name: Ensure autologin group
  become: true
  ansible.builtin.group:
    name: autologin
    state: present
- name: Add Subject User
  become: true
  ansible.builtin.user:
    append: true
    create_home: false
    groups:
      - autologin
    name: subject
    password: "!"
    shell: /bin/bash
- name: Ensure Ansible User is a Subject Group Member
  become: true
  ansible.builtin.user:
    name: "{{ ansible_user }}"
    groups: subject
    append: true
- name: Ensure Apache User is a Subject Group Member
  become: true
  ansible.builtin.user:
    name: www-data
    groups: subject
    append: true
- name: Ensure Home Directory
  become: true
  ansible.builtin.file:
    path: /home/subject
    state: directory
    owner: subject
    group: subject
    mode: "0o770"
    recurse: false

- name: Copy .bashrc
  become: true
  ansible.builtin.copy:
    src: "{{ role_path }}/files/.bashrc"
    dest: /home/subject/.bashrc
    owner: subject
    group: subject
    mode: "0o750"
- name: Copy .profile
  become: true
  ansible.builtin.copy:
    src: "{{ role_path }}/files/.profile"
    dest: /home/subject/.profile
    owner: subject
    group: subject
    mode: "0o750"
- name: Copy .xsessionrc
  become: true
  ansible.builtin.copy:
    src: "{{ role_path }}/files/.xsessionrc"
    dest: /home/subject/.xsessionrc
    owner: subject
    group: subject
    mode: "0o750"
- name: Copy Start Script
  become: true
  ansible.builtin.copy:
    src: "{{ role_path }}/files/start.sh"
    dest: /home/subject/start.sh
    owner: subject
    group: subject
    mode: "0o750"

- name: Ensure Universe Directory Exists Writable
  become: true
  ansible.builtin.file:
    path: /home/subject/public_html
    state: directory
    owner: "{{ ansible_user }}"
    group: subject
    mode: "0o775"
    recurse: true

- name: Synchronize Universe Shell
  ansible.posix.synchronize:
    src: "{{ bm_time_machine_data_root }}/"
    dest: /home/subject/public_html
    delete: true

- name: Ensure Universe Directory Writable
  become: true
  ansible.builtin.file:
    path: /home/subject/public_html
    state: directory
    owner: "{{ ansible_user }}"
    group: subject
    mode: "0o775"
    recurse: true
