[Unit]
Description=Jellyfin
Documentation=https://jellyfin.org/docs/
After=docker.service
Requires=docker.service systemd-networkd-wait-online.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker exec %n stop
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull jellyfin/jellyfin:{{ jellyfin_version }}
ExecStart=/usr/bin/docker run --rm --name %n \
    --volume "{{ jellyfin_basedir }}/jellyfin/cache:/cache" \
    --volume "{{ jellyfin_basedir }}/jellyfin/config:/config" \
    --mount "type=bind,source={{ jellyfin_mediadir }},target=/media" \
    --publish "8096:8096/tcp" \
    --group-add="{{ getent_group.render[1] }}" \
    --device /dev/dri/renderD128:/dev/dri/renderD128 \
    --device /dev/dri/card0:/dev/dri/card0 \
    jellyfin/jellyfin:{{ jellyfin_version }}

[Install]
WantedBy=default.target
