{
  # for more info about the config, check out the documentation
  # https://join-lemmy.org/docs/en/administration/configuration.html

  database: {
    host: postgres
    password: "lemmy"
  }
  hostname: "ffm.ninja"
  pictrs: {
    url: "http://pictrs:8080/"
    api_key: "lemmy"
  }
  email: {
    smtp_server: "postfix:25"
    smtp_from_address: "noreply@ffm.ninja"
    tls_type: "none"
  }
}
