[Unit]
Description=Lemmy - A link aggregator for the fediverse
After=network.target
StartLimitIntervalSec=10

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
StartLimitBurst=3
ExecStartPre=/bin/rm -f %t/container-lemmy.pid %t/container-lemmy.ctr-id
ExecStartPre=/bin/sh -c 'cat /root/docker_hub_credentials | /usr/bin/podman login \
    --username {{ docker_hub_username }} \
    --password-stdin \
    docker.io'
# ExecStartPre=/usr/bin/podman pull \
#     docker.io/dessalines/lemmy:{{ version_lemmy }}
ExecStart=/usr/bin/podman run \
    --cgroups no-conmon \
    --cidfile %t/container-lemmy.ctr-id \
    --conmon-pidfile %t/container-lemmy.pid \
    --detach \
    --env "RUST_LOG=warn" \
    --hostname lemmy \
    --log-driver journald \
    --name %n \
    --publish "8536:8536/tcp" \
    --replace \
    --rm \
    --volume "{{ lemmy_basedir }}/config/config.hjson:/config/config.hjson:z" \
    docker.io/dessalines/lemmy:{{ version_lemmy }}

ExecStop=/usr/bin/podman stop --ignore --cidfile %t/container-lemmy.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/container-lemmy.ctr-id
PIDFile=%t/container-lemmy.pid
Type=forking

# Hardening
ProtectSystem=yes
PrivateTmp=true
MemoryDenyWriteExecute=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
