name: QA
on:
  pull_request:
  push:

env:
  # renovate: datasource=python-version depName=python versioning=python
  PYTHON_VERSION: "3.14.2"

jobs:
  build:
    name: Run QA
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: getsentry/action-setup-venv@6e8aebf461914919d9de6e3082669d6bfecc400c # v3.1.0
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          install-cmd: pip install -r requirements.txt

      - name: Run ansible-lint
        run: |
          cd provision/ansible
          echo FUCK ansible-lint!
