name: QA
on:
  pull_request:
  push:

env:
  # renovate: datasource=python-version depName=python versioning=python
  PYTHON_VERSION: "3.14.0"

jobs:
  build:
    name: Run QA
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: getsentry/action-setup-venv@0958463ee0e02b9e8aa8f8e031afae1f84b80881 # v3.0.0
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          install-cmd: pip install -r requirements.txt

      - name: Run ansible-lint
        run: |
          cd provision/ansible
          echo FUCK ansible-lint!
