name: QA
on:
  pull_request:
  push:

env:
  # renovate: datasource=python-version depName=python versioning=python
  PYTHON_VERSION: "3.14.3"

jobs:
  build:
    name: Run QA
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: getsentry/action-setup-venv@5a80476d175edf56cb205b08bc58986fa99d1725 # v3.2.0
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          install-cmd: pip install -r requirements.txt

      - name: Run ansible-lint
        run: |
          cd provision/ansible
          echo FUCK ansible-lint!
